@import "tailwindcss";

@theme {
  --color-slate-950: #f8fafc;
  --color-slate-900: #ffffff;
  --color-slate-850: #f1f5f9;
  --color-slate-800: #e2e8f0;
  --color-slate-700: #cbd5e1;
  --color-slate-600: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-400: #475569;
  --color-slate-300: #334155;
  --color-slate-200: #1e293b;
  --color-slate-100: #0f172a;

  --color-indigo-950: #f5f3ff;
  --color-indigo-900: #e0e7ff;
  --color-indigo-800: #c7d2fe;
  --color-indigo-750: #a5b4fc;
  --color-indigo-700: #818cf8;
  --color-indigo-650: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-500: #3730a3;
  --color-indigo-400: #312e81;
  --color-indigo-50: #e0e7ff;

  --color-emerald-950: #ecfdf5;
  --color-emerald-900: #d1fae5;
  --color-emerald-800: #a7f3d0;
  --color-emerald-400: #047857;
  --color-emerald-300: #065f46;

  --color-red-950: #fef2f2;
  --color-red-900: #fee2e2;
  --color-red-800: #fca5a5;
  --color-red-500: #dc2626;
  --color-red-400: #b91c1c;
  --color-red-300: #991b1b;

  --color-amber-950: #fffbeb;
  --color-amber-900: #fef3c7;
  --color-amber-800: #fde68a;
  --color-amber-400: #b45309;
  --color-amber-300: #92400e;
}
